/* ボトルメニューサイトのスタイル */
body{
  background-color:black;
  color:white;
  font-style: italic;
  font-family: serif;
  overflow-x: hidden;
}

.container-fluid{
  text-align: center;
}

.menu{
  color: white;
  text-decoration: underline #716f6f;
  margin-bottom: 55px;
}
.menu:hover{
  color: #ddd;
}

.menu-recommend{
  color: white;
  text-decoration: underline #716f6f;
  margin-bottom: 80px;
}
.menu-recommend:hover{
  color: #ddd;
}

/* インデックスページの header style */
header {
  background-color: #333;
  position: fixed;
  top: 0;
  color: white;
  text-align: center;
  padding: 15px 0 0 0;
  width: 100%;
  z-index: 1000;
}

.header-container{
  display: flex;
  justify-content: center;
  padding: 0;
  position: relative;
}
.back-button{
  position: absolute;
  left: 10px;
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 8px 12px;
  border: 1px solid white;
  border-radius: 5px;
}
.back-button:hover{
  color: gray;
}

/* 各商材詳細ページのナビゲーションバーのスタイル */
.navbar{
  background-color: #333;
}

/* フッターのスタイル */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-container p {
  margin: 0;
}

.social-links {
  margin-top: 10px;
}

.social-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.social-links a:hover {
  color: #ddd;
}

/* 画像のスタイル */
.images{
  border: 1px solid #333;
}
.img-responsive{
  width: 100%;
  height: 100%; 
}
/* 商材情報　details */
.details-top p {
  line-height: 1.2; /* 数値を小さくするほど行間が狭くなります */
  margin: 0; /* 追加で余白があれば削除 */
}
.details-low p{
  margin-top: 20px;
}
/* 価格スタイル */
.price{
  text-align: end;
}